<p>
    Szanowny użytkowniku, <br>
    otrzymaliśmy informację, że chcesz zresetować hasło do swojego konta. <br>		
    Aby to zrobić, wystarczy kliknąć w poniższy odnośnik:
</p>
     
<a href="http://localhost:3000/passwordrecovery?password_recovery_token={{ password_recovery_token }}">
    Zmień hasło
</a>
      
<p>
    Zostaniesz przekierowany na stronę, gdzie będziesz mógł ustawić nowe hasło. <br>
    Upewnij się, że używasz silnego hasła, które zawiera zarówno litery, cyfry, jak i znaki specjalne. <br>
    Pamiętaj, że bezpieczeństwo twojego konta zależy od bezpieczeństwa twojego hasła.
</p>
           
<p>    
    Pozdrawiamy, <br>
    Zespół Cash.ly
</p>