<p>
    Szanowny użytkowniku, <br>
    chcieliśmy poinformować Cię, że twoje hasło do konta zostało pomyślnie zmienione. <br>
    Jeśli to nie Ty dokonałeś/aś tej zmiany, natychmiast skontaktuj się z nami.
</p>

<p>
    Jeśli zmiana hasła była przez Ciebie inicjowana, możesz teraz zalogować się na swoje konto z nowym hasłem. <br>
    Klikając w poniższy link, zostaniesz przekierowany na stronę logowania:
</p>

<a href="http://localhost:3000/login">Zaloguj się</a>

<p>Jeśli masz jakieś pytania lub problemy z logowaniem, skontaktuj się z naszym zespołem obsługi klienta.</p>

<p>
    Pozdrawiamy, <br>
    Zespół Cash.ly
</p>