<p>
    Szanowny użytkowniku, <br>
    Serdecznie dziękujemy za rejestrację w naszej aplikacji!
</p>

<p>
    Twoje konto zostało pomyślnie utworzone. <br>
    Aby móc korzystać z pełni funkcjonalności aplikacji, musisz zweryfikować swój adres e-mail. <br>
    W tym celu, prosimy o kliknięcie w poniższy odnośnik:
</p>

<a href="http://localhost:3000/verify/email?emailVerificationToken={{ email_verification_token }}">Zweryfikuj</a>

<p>
    Po kliknięciu w odnośnik, Twoje konto zostanie aktywowane, <br>
    a Ty będziesz mógł/mogła zalogować się na swoje konto, korzystając z adresu e-mail oraz hasła, które podałeś/podałaś podczas rejestracji.
</p>

<p>
    Pozdrawiamy, <br>
    Zespół Cash.ly
</p>